In [129]:
import numpy as np
import pandas as pd

path = "~/p/fp"
combats = pd.read_csv(f"{path}/combats.csv")
pokemon = pd.read_csv(f"{path}/pokemon.csv")
tests = pd.read_csv(f"{path}/tests.csv")

combats['Loser'] = pd.Series(np.where(combats['Winner'] == combats['First_pokemon'], combats['Second_pokemon'], combats['First_pokemon']))

wins = combats['Winner'].value_counts().sort_index().rename('Wins')
loss = combats['Loser'].value_counts().sort_index().rename('Loss')
res = pd.concat([wins, loss], axis=1)
res['win_loss'] = res['Wins'] / (res['Wins'] + res['Loss'])
res['win_pct']  = (res['win_loss'] * 100).round(1)

pokemon = pokemon.join(res, on='#')
pokemon[['Name', 'win_pct']].sort_values(by='win_pct', ascending=False).head(10)

                         Name  win_pct
154           Mega Aerodactyl     98.4
512                   Weavile     97.5
703    Tornadus Therian Forme     96.8
19              Mega Beedrill     96.6
153                Aerodactyl     96.5
726                  Greninja     96.1
476              Mega Lopunny     96.1
716  Meloetta Pirouette Forme     95.9
164             Mega Mewtwo Y     95.2
349             Mega Sharpedo     95.0